<h1>Students and Professor Count</h1>
<% @students.each_with_index do |student, index| %>
  <section id="student-<%= index %>">
    <li> <%= student.name %>: <%= student.number_of_professors %></li>
  </section>
<% end %>
