<h1>Students Index</h1>
<% @students.alphabetically.each do |student| %>
  <section id="student-<%= student.id %>">
    <li><%= student.name %>: <%= student.number_of_professors %></li>
  </section>
<% end %>
