<% @professors.alphabetically.each do |professor| %>
  <section id="professor-<%= professor.id %>">
    <h1><%= professor.name %></h1>
    <p>Age: <%= professor.age %></p>
    <p>Specialty: <%= professor.specialty %></p>
  </section>
<% end %>
